:root {
    --header-padding: 20vw;
    --cat-width: 320px;
    --cat-right: 80px;
    --cat-bottom: 16vh;
    /* 80px */
    --cat-rotation: 40deg;
    --cat-rotation-2: 39deg;
    --top-a-display: inline-block;
    --top-svg-display: none;
    --scrollbar-display: block;
    --footer-width: 800px;
    --credit-width: 400px;
    --enderadel-top: -58px;
    --credit-left: 400px;
    --footer-bottom-padding: 0px;
}

@media (max-width: 820px) {
     :root {
        --header-padding: 10px;
        --cat-width: 240px;
        --cat-right: -60px;
        --cat-bottom: -40px;
        --cat-rotation: -26deg;
        --cat-rotation-2: -27deg;
        --top-a-display: none;
        --top-svg-display: block;
        --scrollbar-display: none;
        --credit-width: 100%;
        --enderadel-top: 86px;
        --credit-left: 0px;
        --footer-width: calc(100% - 50px);
        --footer-bottom-padding: 140px;
    }
}

*,
*:focus {
    font-family: 'Comfortaa', cursive;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 12px;
    display: var(--scrollbar-display);
}

body::-webkit-scrollbar-track {
    background: #292929;
}

body::-webkit-scrollbar-thumb {
    background-color: #1b1b1b;
    border-radius: 5px;
    border: 2px solid #292929;
}

a:link {
    color: #3133ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0b0db9;
    background-color: transparent;
    text-decoration: underline;
}

.top {
    z-index: 5;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: fit-content;
    text-align: center;
    padding: 60px 0px;
    transition-duration: 0.1s;
}

.top a,
.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0px 18px;
    display: var(--top-a-display);
}

.top a.selected,
.menu a.selected {
    font-weight: bold;
    text-shadow: 0px 2px 18px #a5a5a5;
}

.top svg {
    display: var(--top-svg-display);
    margin: -18px 20px;
    cursor: pointer;
}

html[data-scroll='false'] .top,
.top.smaller {
    padding: 36px 0px;
    background-color: #0a0a0a;
    box-shadow: 0px 8px 4px #0a0a0a;
    border-radius: 0px 0px 18px 18px;
}

@keyframes float {
    0% {
        transform: translatey(0px) rotate(var(--cat-rotation));
    }
    50% {
        transform: translatey(-10px) rotate(var(--cat-rotation-2));
    }
    100% {
        transform: translatey(0px) rotate(var(--cat-rotation));
    }
}

.cat {
    position: fixed;
    width: var(--cat-width);
    bottom: var(--cat-bottom);
    right: var(--cat-right);
    z-index: 2;
    animation: float 6s ease-in-out infinite;
}

.content {
    min-height: 260px;
    z-index: 4;
    position: relative;
    background-color: #0e0e0e;
    border-radius: 18px 18px 0px 0px;
    width: 100%;
    overflow: hidden;
    margin-top: calc(100vh - 80px);
    box-shadow: 0px -16px 40px #000000a3;
    color: white;
    padding-top: 92px;
    padding-bottom: 120px;
}

.content .section {
    text-align: center;
    width: var(--footer-width);
    margin: auto auto;
    padding: 12px 0px;
}

.content .section h3 {
    color: #cccccc;
}

hr {
    border-color: white;
    width: 36%;
    margin: 24px auto;
    border-width: 1px;
    border-bottom: 0px;
}

.footer {
    height: fit-content;
    z-index: 4;
    position: relative;
    background-color: #000000;
    border-radius: 18px 18px 0px 0px;
    width: var(--footer-width);
    overflow: hidden;
    margin-top: -20px;
    box-shadow: 0px 0px 18px #000000;
    padding: 18px calc(50% - var(--footer-width)/2);
    padding-bottom: 28px;
}

.footer .icons {
    position: relative;
    top: 28px;
}

.footer .icons a svg {
    fill: #cecece;
    width: 32px;
    height: 32px;
    margin: 0px 8px;
}

.footer .icons a svg:hover {
    fill: #ffffff;
}

.footer .icons a svg:active {
    fill: #8a8a8a;
}

.footer .credit {
    color: gainsboro;
    position: relative;
    top: 56px;
    width: var(--credit-width);
}

.footer .enderadel {
    color: gainsboro;
    position: relative;
    top: var(--enderadel-top);
    width: var(--credit-width);
    left: var(--credit-left);
    margin-bottom: var(--footer-bottom-padding);
}

.footer .enderadel a {
    color: gainsboro;
    text-decoration: none;
}

.footer .enderadel a:hover {
    text-decoration: underline;
}

.footer .enderadel a:active {
    color: white;
    text-decoration: underline;
}

.footer .enderadel .logo {
    width: fit-content;
    overflow: hidden;
    height: 48px;
    margin-bottom: 19px;
    margin-top: -10px;
}

.footer .enderadel .logo img {
    width: 48px;
    border-radius: 1000px;
}

.footer .enderadel .logo text {
    color: white;
    font-weight: bolder;
    font-size: 26px;
    display: inline-block;
    position: relative;
    top: -14px;
    margin-left: 8px;
}

.menu {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -100vw;
    width: 90vw;
    z-index: 5;
    background: #131313;
    border-radius: 0px 18px 18px 0px;
    box-shadow: 15vw 0px 80px #101010;
}

html[data-menu='true'] .menu {
    display: block;
    -webkit-animation: slide 0.1s forwards;
    animation: slide 0.1s forwards;
}

.menu svg {
    margin: 40px 20px;
    transition-duration: 0.1s;
    margin-bottom: 0px;
    cursor: pointer;
}

.menu a {
    display: block;
    margin: 46px 28px;
    transition-duration: 0.1s;
}

.menu a:first-of-type {
    margin: 46px 28px;
}

.badge {
    display: block;
    background-color: #e02b00;
    padding: 6px;
    border-radius: 4px;
    font-size: 18px;
    width: 98px;
    text-align: center;
    width: fit-content;
    position: relative;
    top: -82px;
    margin-bottom: -32px;
}

html[data-scroll='false'] .menu a:first-of-type {
    margin: 20px 28px;
}

html[data-scroll='false'] .menu svg {
    margin: 20px 20px;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

[no-select],
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}