card-view {
    display: block;
    position: relative;
}

card-view card-element[position="center"] {
    position: absolute;
    opacity: 1;
    right: calc(50% - 22% - 29px);
    left: calc(50% - 22% - 29px);
}

card-view card-element[position="left"] {
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    left: calc(-22% - 80px);
}

card-view card-element[position="right"] {
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    right: calc(-22% - 80px);
}

card-view card-element[position="left-off"] {
    position: absolute;
    left: calc(-50vw - 420px);
    bottom: 25px;
    z-index: 0;
    opacity: 0.1;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

card-view card-element[position="right-off"] {
    position: absolute;
    right: calc(-50vw - 420px);
    bottom: 25px;
    z-index: 0;
    opacity: 0.1;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

card-view card-element {
    width: 520px;
    width: 44%;
    height: 280px;
    height: calc(100% - 94px);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin: 18px 0px;
}