floating-action {
    display: block;
    position: fixed;
    z-index: 12;
    bottom: 28px;
    right: 42px;
    width: 46px;
    height: 46px;
    padding: 3px;
    /*background-color: var(--Color2);*/
    background-color: var(--FloatingActionButton-BackgroundColor);
    border-radius: 100px;
    /*-webkit-box-shadow: 0px 1px 10px 0px var(--Color6);
  box-shadow: 0px 1px 10px 0px var(--Color6);*/
    -webkit-box-shadow: 0px 1px 10px 0px var(--FloatingActionButton-BoxShadowColor);
    box-shadow: 0px 1px 10px 0px var(--FloatingActionButton-BoxShadowColor);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}

floating-action:hover {
    /*-webkit-box-shadow: 0px 1px 10px 0px var(--Color6);
  box-shadow: 0px 1px 18px 0px var(--Color6);*/
    -webkit-box-shadow: 0px 1px 10px 0px var(--FloatingActionButton-BoxShadowColorHOVER);
    box-shadow: 0px 1px 18px 0px var(--FloatingActionButton-BoxShadowColorHOVER);
}

floating-action:active {
    /*-webkit-box-shadow: 0px 1px 10px 0px var(--Color6);
  box-shadow: 0px 2px 18px 2px var(--Color6);*/
    -webkit-box-shadow: 0px 1px 10px 0px var(--FloatingActionButton-BoxShadowColorACTIVE);
    box-shadow: 0px 2px 18px 2px var(--FloatingActionButton-BoxShadowColorACTIVE);
}